<!DOCTYPE html>

@{


}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Vehicle Reports - Fitzgerald Auto Malls</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/usedvehicles.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.css" />

    @RenderSection("CSS", required: false)

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://www.fitzmall.com" target="blank" style="padding:0;margin:0;margin-left:15px;"><img src="~/Images/used.png" /></a>
                        
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Used Vehicle Reports", "Index", "Home", new { area = "" }, new { @class = "" })    </li> 
                    <li>@Html.ActionLink("Used Vehicle Inventory", "Inventory", "Home", new { area = "" }, new { @class = "" })    </li> 
                    <li>@Html.ActionLink("Used Vehicle Title Status", "TitleStatus", "Home", new { area = "" }, new { @class = "" })    </li> 
                    <li><a href="//jjfserver/SalesCommission/">Sales/Commission Log</a></li>                 
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Reports
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Report 1</a></li>
                            <li><a href="#">Report 2</a></li>
                            <li><a href="#">Report 3</a></li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="container"><span style="color:#999999;">Logged in as: @Session["UserName"]</span></div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fitzgerald Auto Malls</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        _anyNumberSort = function (a, b, high) {
            var reg = /[+-]?((\d+(\.\d*)?)|\.\d+)([eE][+-]?[0-9]+)?/;

            if (a.match(/[\()]/g)) {
                if (a.match(/[\-]/g) !== true) {
                    //It matched - strip out parentheses & any characters we dont want and append - at front
                    a = '-' + a.replace(/[\$£€c\(\),]/g, '');
                }
            }
            if (b.match(/[\()]/g)) {
                if (b.match(/[\-]/g) !== true) {
                    //It matched - strip out parentheses & any characters we dont want and append - at front
                    b = '-' + b.replace(/[\$£€c\(\),]/g, '');
                }
            }

            a = a.replace(/[\$£€\,]/g, '');
            b = b.replace(/[\$£€\,]/g, '');

            a = a.replace(',', '.').match(reg);
            a = a !== null ? parseFloat(a[0]) : high;
            b = b.replace(',', '.').match(reg);
            b = b !== null ? parseFloat(b[0]) : high;
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        }

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "any-number-asc": function (a, b) {
                return _anyNumberSort(a, b, Number.POSITIVE_INFINITY);
            },
            "any-number-desc": function (a, b) {
                return _anyNumberSort(a, b, Number.NEGATIVE_INFINITY) * -1;
            }
        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-us-pre": function (a) {
                if (a == null || a == "") {
                    return 0;
                }
                var usDatea = a.split('/');
                return (usDatea[2] + usDatea[1] + usDatea[0]) * 1;
            },

            "date-us-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-us-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder/dist/js/query-builder.standalone.min.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
